src/main/mule/the-clicker-category.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">

	<flow name="the-clicker-categoryFlow" doc:id="d8e933b7-cac7-4fc6-8b14-5e28c47cbc09" >
		<http:listener doc:name="Listener" doc:id="d8499750-9b7a-4f06-a892-8e7f25e50aab" path="api/category" config-ref="Global_HTTP_Listener_config"/>
		<set-variable value="#[attributes.queryParams.title]" doc:name="title" doc:id="aaa34480-d7b6-4354-9e12-eac3c9a01137" variableName="title"/>
			<ee:transform doc:name="tags from affiliate" doc:id="ecd0c508-cf59-493f-a850-55aeb7e89797">
			<ee:message>
			</ee:message>
			<ee:variables>
					<ee:set-variable resource="category/sssc-sssct.dwl" variableName="SSSC-SSSCT" />
					<ee:set-variable resource="category/ssc-sssc.dwl" variableName="SSC-SSSC" />
					<ee:set-variable resource="category/sc-ssc.dwl" variableName="SC-SSC" />
					<ee:set-variable resource="category/c-cs.dwl" variableName="C-CS" />
			
</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f3c82624-a3be-49c7-9e51-eebcff7e0a97" message="#[vars.title]"/>
		<ee:transform doc:name="Mapping" doc:id="51376d2f-7450-42ea-83fe-e9c95ab7a626">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
var regex = (val) -> lower(((((((" " ++ val ++ " | " ++ val ++ "\$" ++"|^" ++ val ) replace "(" with "") replace ")" with "") replace '"' with "'") replace "[" with "") replace "]" with "") replace "+" with "") default "" as Regex
var mptitle = (val) ->  lower((((((val replace "(" with "") replace ")" with "") replace '"' with "'") replace "[" with "") replace "]" with "") replace "+" with "")
fun setSSC(ptitle) = [(((keysOf(vars."SSSC-SSSCT") map {
	key: $,
	value: flatten(mptitle(ptitle) scan regex($))[0]
}) filter $.value != null)),
(((keysOf(vars."SSSC-SSSCT") map {
	key: vars."SSSC-SSSCT"[$],
	value: flatten(mptitle(ptitle) scan  regex($))[0]
}) filter $.value != null))]
var SSSCValue = ((setSSC(vars.title)[1].key) distinctBy ($))[-1] default "Trending"

---
flatten([SSSCValue])
]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		<ee:transform doc:name="response" doc:id="b5a628b0-2cc5-4a44-86bc-69675b54b032" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var productSubSubCategory = (val) -> vars."SSC-SSSC"[val]
var productSubCategory = (val) -> vars."SC-SSC"[val]
var Category = (val) -> vars."C-CS"[val]
---
(payload map {
	productSubSubSubCategory: ($),
	productSubSubCategory: productSubSubCategory($) replace '"' with "'" default "Trending",
	productSubCategory: productSubCategory(productSubSubCategory($)) replace '"' with "'" default "Trending",
	productCategory: Category(productSubCategory(productSubSubCategory($))) replace '"' with "'" default "Trending"
})[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
